<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/2.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Manisha Beriya. It uses data from mapbox and weatherstack!</p>
        <img class="portrait" src="/img/1.jpg">
    </div>
    
    {{>footer}}
</body>

</html>